<!--AdminDash-->
<br/>
<div class="jumbotron" style="background-color:#FFC814">
  <div class="container">
  	<center>
  		<img src="https://www.logolynx.com/images/logolynx/8d/8d290c17727e40cd24296dd3c87d59d0.png" width="200" height="200">
  	</center>

    <h1 class="display-3" style="color:white">Welcome back to your Administrator Dashboard!</h1>
  </div>
</div>

<h2 style="color:#41369F">Accepted Orders</h2>
<% @orders.each do |o| %>
	<!-- Orders that have been accepted -->
	<% if o.completed == false && o.post_accepted == true %>
		<div class="card bg-light mb-3 w-100">
			<div class="card-header" style="color:#E10580; background-color:#D7D8E5">
				<div class="row">
					<div class="col-md-11">
						<h4 id="name"><%= o.user %></h4>
					</div>
				</div>
			</div>
			<div class="card-body">
				<p id="com"><span style="color:#E10580"><b>Order: </b></span><%= o.order_description %></p>
				<p id="date"><span style="color:#E10580"><b>Time: </b></span><%= o.time_to_be_completed %> min</p>
			</div>
		</div>
	<% end %>
<% end %>
<br/><hr>

<h2 style="color:#41369F">Available Orders:</h2>
<% @orders.each do |o| %>
	<!-- Orders that are available -->
	<% if o.completed == false && o.post_accepted == false %>
		<div class="card bg-light mb-3 w-100">
			<div class="card-header" style="color:#E10580; background-color:#D7D8E5">
				<div class="row">
					<div class="col-md-11">
						<h4 id="name"><%= o.user %></h4>
					</div>
				</div>
			</div>
			<div class="card-body">
				<p id="com"><span style="color:#E10580"><b>Order: </b></span><%= o.order_description %></p>
				<p id="date"><span style="color:#E10580"><b>Time: </b></span><%= o.time_to_be_completed %> min</p>
			</div>
		</div>
	<% end %>
<% end %>
<br/><hr>

<h2 style="color:#41369F">Completed Orders:</h2>
<% @orders.each do |o| %>
	<!-- Orders that are available -->
	<% if o.completed == true %>
		<div class="card bg-light mb-3 w-100">
			<div class="card-header" style="color:#E10580; background-color:#D7D8E5">
				<div class="row">
					<div class="col-md-11">
						<h4 id="name"><%= o.user %></h4>
					</div>
				</div>
			</div>
			<div class="card-body">
				<p id="com"><span style="color:#E10580"><b>Order: </b></span><%= o.order_description %></p>
				<p id="date"><span style="color:#E10580"><b>Time: </b></span><%= o.time_to_be_completed %> min</p>
			</div>
		</div>
	<% end %>
<% end %>
<br/><hr>