<!--SnackDash-->
<br/>
<div class="jumbotron" style="background-color:#E10580">
  <div class="container">
    <h1 class="display-3" style="color:white">Welcome back Snacker <%= current_user.fname %>!</h1>
  </div>
</div>

<br/><hr>

 <div class="container">
	<div class="row">
    	<div class="col-md-4">
    		<center>
    		<h2 class="display-2" style="font-size: 25px; color:#41369F"><b>Snack Order</b></h2>
    		<p style="font-size: 15px">To create a new order, click on "Snack" on your dashboard navigation bar. Snack will guide you to an order form to begin creating an order task.</p>
    		</center>
		</div>

		<div class="col-md-4">
			<center>
    		<img src="https://image.flaticon.com/icons/png/512/172/172159.png" width="150" height="150">
    		</center>
    	</div>

    	<div class="col-md-4">
    		<center>
    		<h2 class="display-2" style="font-size: 25px; color:#41369F"><b>Snap Deliver</b></h2>
    		<p style="font-size: 15px">Since you are currently not a Snapper, if you would like to start accepting orders and deliver, click on "Snap" on your dashboard navigation bar. Snap will guide you to a "Become a Snapper!" request form.</p>
    		</center>
		</div>
	</div>
</div>

<hr>

<h2 style="font-size: 45px; color:#41369F">My Orders</h2><br/>
<div class="row col-md-offset-2" >
	<% @orders.each do |o| %>
		<% if o.user == current_user.email && o.completed == false %>
			<div class="card w-100 mt-2" style="border-color:#E10580; border-width: .2rem">
				<div class="card-header" style="background-color:#D7D8E5">
					<div class="row">
						<div class="col-md-11">
							<h4 id="name" style="color:#41369F"><%= current_user.fname %></h4>
							<div style="foat: right"><%= o.created_at %></div>
						</div>
					</div>
				</div>
				<div class="card-body">
				<table class="table table-bordered">
					<tbody>
		  				<tr>
							<td>
								<p id="loc"><span style="font-weight:bold;color:#E10580">Location:</span> <%= o.delivery_location %></p>
							</td>
		  				</tr>
		  				<tr>
							<td>
								<p id="com"><span style="font-weight:bold;color:#E10580">Order:</span> <%= o.order_description %></p>
								<p><span style="color:#41369F"> Grand Total: </span><%= '%.2f' % ((o.price/ 100.00)+((o.price/ 100.00)* 0.0825)) %></p>
							</td>
						</tr>
						<tr>
							<td>
								<p id="date"><span style="font-weight:bold;color:#E10580">Time:</span> <%= o.time_to_be_completed %> min</p>
							</td>
		  				</tr>
					</tbody>
	  			</table>
				</div>
			</div>
		<% end %>
	<% end %>
</div>

<br/>
<h2 style="font-size: 45px; color:#41369F">My History</h2>
<br/>
<div class="row col-md-offset-2" >
	<% @orders.each do |o| %>
		<% if o.user == current_user.email && o.completed == true %>
			<div class="card w-100 mt-2">
				<div class="card-header">
					<div class="row">
						<div class="col-md-11">
							<h4 id="name"><%= current_user.fname %></h4>
						</div>
					</div>
				</div>
				<div class="card-body">
				<table class="table table-bordered">
				<tbody>
					  <tr>
						<td>
							<p id="loc"><span style="font-weight:bold;color:#E10580">Location:</span> <%= o.delivery_location %></p>
						</td>
					  </tr>
					  <tr>
						<td>
							<p id="com"><span style="font-weight:bold;color:#E10580">Order:</span> <%= o.order_description %></p>
							<p> Grand Total: <%= '%.2f' % ((@o.price/ 100.00)* 0.0825) %></p>
						</td>
					</tr>
					<tr>
						<td>
							<p id="date"><span style="font-weight:bold;color:#E10580">Time:</span> <%= o.time_to_be_completed %> min</p>
						</td>
					  </tr>
				</tbody>
			  </table>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
<br/><hr>