<br/>
<div class="jumbotron" style="background-color:#E10580">
  <div class="container">
    <h1 class="display-3" style="color:white">Welcome back Snacker <%= current_user.fname %>!</h1>
    <p style="color:white"><p>
  </div>
</div>

<div class="container">
	<div class="row">
    	<div class="col-md-4">
    		<h2 class="display-3" style="font-size: 25px; color:#41369F">New Order?</h2>
    		<p>To create a new order, click on "Snack" on your dashboard navigation bar. Snack will guide you to a order form.</p>
		</div>

    	<div class="col-md-4">
    		<h2 class="display-3" style="font-size: 25px; color:#41369F">New Delivery?</h2>
    		<p>To accept an order and deliver, click on "Snap" on your dashboard navigation bar. Snap will guide you to a order form.</p>
		</div>
	</div>
</div>


<h2 style="font-size: 45px; color:#41369F">My Orders</h2><br/>
<div class="row col-md-offset-2" >
	<% @orders.each do |o| %>
		<% if o.user == current_user.email && o.completed == false %>
			<div class="card w-100 mt-2">
				<div class="card-header">
					<div class="row">
						<div class="col-md-11">
							<h4 id="name"><%= current_user.fname %></h4>
						</div>
					</div>
				</div>
				<div class="card-body">
					<p id="com">Order: <%= o.order_description %></p>
					<p id="date">Time: <%= o.time_to_be_completed %> min</p>
				</div>
			</div>
		<% end %>
	<% end %>
</div>

<br/>
<h2 style="font-size: 45px; color:#41369F">My History</h2>
<br/>
<div class="row col-md-offset-2" >
	<% @orders.each do |o| %>
		<% if o.user == current_user.email && o.completed == true %>
			<div class="card w-100 mt-2">
				<div class="card-header">
					<div class="row">
						<div class="col-md-11">
							<h4 id="name"><%= current_user.fname %></h4>
						</div>
					</div>
				</div>
				<div class="card-body">
					<p id="com">Order: <%= o.order_description %></p>
					<p id="date">Time: <%= o.time_to_be_completed %> min</p>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
<br/><hr>