<h1>Snapper Dashboard for <%= current_user.fname %></h1>
<% @orders.each do |o| %>
	<!-- Orders that are available -->
	<% if o.completed == false && o.post_accepted == false %>
		<div class="card text-white bg-primary mb-3 w-100">
			<div class="card-header">
				<div class="row">
					<div class="col-md-11">
						<h4 id="name"><%= o.user %></h4>
					</div>
				</div>
			</div>
			<div class="card-body">
				<p id="com">Order: <%= o.order_description %></p>
				<p id="date">Time: <%= o.time_to_be_completed %> min</p>
			</div>
		</div>
	<% end %>

	<!-- Orders that have been accepted -->
	<% if o.completed == false && o.post_accepted == true %>
		<div class="card text-white bg-secondary mb-3 w-100">
			<div class="card-header">
				<div class="row">
					<div class="col-md-11">
						<h4 id="name"><%= o.user %></h4>
					</div>
				</div>
			</div>

			<div class="card-body">
				<p id="com">Order: <%= o.order_description %></p>
				<p id="date">Time: <%= o.time_to_be_completed %> min</p>
			</div>
		</div>
	<% end %>
<% end %>